.screen-recoder-container0502 {
  /*POSITION&SIZE*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  /*STYLE*/
  background-color: #181818;
  margin: 6px;
  border-radius: 14px;
  overflow: hidden;
}
.screen-recoder-player-container0502 {
  /*POSITION&SIZE*/
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
}
.screen-recorder-control-panel0502 {
  /*POSITION&SIZE*/
  transition: all 0.28s ease;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 8px;
  height: 48px;

  /*STYLE*/
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #b3b8c2b0;
  border-radius: 32px;
  overflow: hidden;
}

.screen-recorder-console-msg0502 {
  transition: all 0.16s ease-in-out;
  /*POSITION&SIZE*/
  position: absolute;
  transform: translate(0%, -50%);
  left: 24px;
  top: 50%;
  width: 200px;

  /*STYLE*/
  font-family: "Jost";
  font-weight: 100;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 18px;
  opacity: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.screen-recorder-start-recording-button0502 {
  transition: all 0.16s ease;
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 6px;
  right: 6px;

  background-color: #a7a7a700;
  padding: 6px;
  border-radius: 8px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.screen-recorder-start-recording-button0502:hover {
  transition: all 0.16s ease;
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 6px;
  right: 6px;

  background-color: #ffffff60;
  padding: 6px;
  border-radius: 32px;
}
.screen-recorder-pause-recording-button0502 {
  transition: all 0.16s ease;
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 6px;
  right: 6px;

  padding: 6px;
  border-radius: 8px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.screen-recorder-pause-recording-button0502:hover {
  transition: all 0.16s ease;
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 6px;
  right: 6px;

  background-color: #ffffff60;
  padding: 6px;
  border-radius: 32px;
}
